
/* Layout  CSS*/
.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container > div{
    background-color: var(--gray10);
    padding:5em;
    border-radius: 0.5em;
}
/* main */
.main_wrap{
    position: relative;
    background-color: rgba(0,0,0,0) !important;
    
}
.main_wrap::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow:
    0 0 0 var(--point-graph),
    0 0 0 var(--point1),
    0 0 0 var(--point3),
    0 0 0 var(--point2);
    animation: neon 5s infinite alternate ease-in-out;
    filter: blur(30px);
}
.main_wrap::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--mainColor);
    border-radius: 0.5em;
    z-index: 1;
}
.main_wrap > div{position: relative;z-index: 1;}
.main{
    display: flex;
    gap:1em;
    justify-content: center;
    
}
.main_title{
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 2em;
    font-weight: 700;
    color:var(--gray10);
}

/* skillbox  */
.skill_box{
    height: 60px;
    overflow: hidden;
}
.skill_view{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    font-weight: 700;
    position: relative;
    transition: all 0.5s;
}
.skill_view > span{
    display: flex;
    min-width: 100px;
    align-items:center;
    height: 60px;
    color:var(--point1);
    text-shadow: 0 0 1px var(--point-graph), 0 0 3px var(--point1);
}


/* Nav CSS */
.nav{
    position: fixed;
    top:50%;
    left: 0;
    transform: translateY(-50%);
    background-color: var(--opacity);
    border-radius: 0 1em 1em 0;
    z-index: 1000;
}

.nav_item{
    display: flex;
    width: 6em;
    height: 4em;
    border: 0;
    font-size: 0.95em;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.nav_item::after,.nav_item::before{
    content: attr(data-text);
    position: absolute;
    color: transparent;
    height: 10px;
    overflow: hidden;
    transition: all 0.3s;
    font-weight: bold;
}

.nav_item::before{
    text-shadow: 0 2px var(--point1);
    margin-top:  -0.5em;
}
.nav_item::after{
    text-shadow: 0 -8px var(--point1);
    margin-top:  0.8em;
}

.nav_item:hover::after{
    transform: translateX(0.5em);
    filter: blur(1px);
}
.nav_item:hover::before{
    transform: translateX(-0.5em);
    filter: blur(1px);
}


/* keyframes */
@keyframes neon{
   0%{
    box-shadow:
    20px 20px 100px var(--point-graph),
    -20px -20px 100px var(--point1),
    20px -20px 100px var(--point3),
    -20px 20px 100px var(--point2);
   }
   50%{
    box-shadow:
    -20px -20px 100px var(--point-graph),
    20px 20px 100px var(--point1),
    -20px 20px 100px var(--point3),
    20px -20px 100px var(--point2);
   }
   100%{
    box-shadow:
    20px 20px 100px var(--point-graph),
    -20px -20px 100px var(--point1),
    20px -20px 100px var(--point3),
    -20px 20px 100px var(--point2);
   }
   
   
    
    
}
/* Profile */
.profile_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:2em;
    margin-bottom: 0.8em;
}
.profile_info{
    font-size: 2em;
    font-weight: 700;
}
.profile_img{
    width:8em;
    height: 8em;
    border: 1px solid var(--gray10);
    border-radius: 50%;
}