/* Layout  CSS*/
.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container > div{
    background-color: var(--gray10);
    padding:1em;
    border-radius: 0.5em;
}

/*  */
.skill_box{
    height: 40px;
    overflow: hidden;
}
.skill_view{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    font-weight: 700;
    position: relative;
    transition: all 0.5s;
}
.skill_view > span{
    display: flex;
    justify-content: center;
    height: 40px;
}


/* Nav CSS */
.nav{
    position: fixed;
    top:50%;
    left: 0;
    transform: translateY(-50%);
    background-color: var(--opacity);
    border-radius: 0 1em 1em 0;
    z-index: 1000;
}

.nav_item{
    display: flex;
    width: 6em;
    height: 4em;
    border: 0;
    font-size: 0.95em;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.nav_item::after,.nav_item::before{
    content: attr(data-text);
    position: absolute;
    color: transparent;
    height: 10px;
    overflow: hidden;
    transition: all 0.3s;
    font-weight: bold;
}

.nav_item::before{
    text-shadow: 0 2px var(--point1);
    margin-top:  -0.5em;
}
.nav_item::after{
    text-shadow: 0 -8px var(--point1);
    margin-top:  0.8em;
}

.nav_item:hover::after{
    transform: translateX(0.5em);
    filter: blur(1px);
}
.nav_item:hover::before{
    transform: translateX(-0.5em);
    filter: blur(1px);
}


/* keyframes */

